<h1>New Title Info</h1>

<%= form_for(@item, :url => addTitle_items_path(@item)) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= field_set_tag 'Title Info' do %>
		<div class="child_group">
			<%= f.label :title %>
			<div class="field">
				<%= text_field_tag "item[title_info][][title]", nil, :style => "width:600px;" %>
			</div>
			<%= f.label :subtitle %>
			<div class="field">
				<%= text_field_tag "item[title_info][][sub_title]", nil, :style => "width:600px;" %>
			</div>
			<%= f.label :partnumber %>
			<div class="field">
				<%= text_field_tag "item[title_info][][part_number]", nil, :style => "width:600px;" %>
			</div>
			<%= f.label :partname %>
			<div class="field">
				<%= text_field_tag "item[title_info][][part_name]", nil, :style => "width:600px;" %>
			</div>
			<%= f.label :nonsort %>
			<div class="field">
				<%= text_field_tag "item[title_info][][non_sort]", nil, :style => "width:600px;" %>
			</div>
		</div>
		
	<% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', items_path %>